data/training_data/screen_recordings/*.mp4
data/training_data/screen_recordings/*.mov
data/training_data/reported_videos/*.mp?
data/frames/*
data/training_data/*.mp4
data/screen_recordings
data/results/*
data/videos/*
tiktok_reporter_analysis/prompts/*_api_key.txt
.DS_Store
data/checkpoints/*
*.csv
time.txt
.cache
__pycache__
dashboard/regrets-reporter-dev-f440bd973b35.json
dashboard/brightdata_token.txt
dashboard/scrapfly_key.txt
