opencv-python==4.8.0.76
ollama
ollama-python
openai
timm==0.9.7
pandas==2.1.0
Pillow==10.0.0
transformers==4.34.0
sentencepiece==0.1.99
protobuf==4.24.3
openai-whisper==20230918
moviepy @ git+https://github.com/Zulko/moviepy@bc8d1a831d
pyarrow==14.0.0
scikit-learn==1.4.0
fastparquet==2023.10.1
whispercpp @ git+https://github.com/stlukey/whispercpp.py