pandas==2.2.2
moviepy @ git+https://github.com/Zulko/moviepy@bc8d1a831d
opencv-python==4.10.0.84
torch==2.3.1
transformers==4.42.3
ollama==0.2.1
openai==1.35.10
google-generativeai==0.7.1
timm==1.0.7
gspread==6.1.2
lingua-language-detector==2.0.2